In [2]:
import math
import pandas as pd
import random
import numpy as np

list_ppl = ["Katharine","Laura","Joan","Aimee","Jenna","Amelia"]
#print(list_ppl[1])
pairings = pd.DataFrame(columns={"pair1","pair2","pair3"},index={"week1","week2","week3","week4","week5"})
#print(pairings)
weeks = pd.DataFrame()
#weeks.append(pd.DataFrame([22,33]))
Nweeks=6
Npeople=6
Npairs=int(Npeople*0.5)
Ntries=100
for ii in range(0,Nweeks-1):
    #print("------------------------")
    #print("pairings=",pairings)
    #print("list_ppl=",list_ppl)
    week_str = 'week'+str(ii+1)
    Ncommitted=0
    #week_list = list_ppl.copy()
    while(Ncommitted<Npairs):
        #print("week_list=",week_list)
        #print("list_ppl=",list_ppl)
        #print("pairings=",pairings)
        remain_list=list_ppl.copy()
        choice1 = random.choice(list_ppl)
        remain_list.remove(choice1) #want to remove choice made
        choice2 = random.choice(remain_list)
        chosen_pair = choice1+","+choice2
        reverse_pair = choice2+","+choice1
        assignQ=1 # 1=assign pair,-1=dont assign pair
        week_check_str=''
        #if( ii>0 ):
            #print("Committed=",Ncommitted)
            #print("chosen_pair=",chosen_pair)
        if( chosen_pair in pairings.values or reverse_pair in pairings.values ): # was previously chosen,
            assignQ=-1
            for ll in range(1,Npairs+1):
                pair_str = 'pair'+str(ll)
                pairings.loc[week_str,pair_str]=np.nan #reset week
                Ncommitted=0 # reset week
        for kk in range(1,Npairs+1):
            pair_str = 'pair'+str(kk)
            if( pd.isnull(pairings.loc[week_str,pair_str])==False ):        
                if( (pairings.loc[week_str,pair_str].find(choice1)!=-1) or (pairings.loc[week_str,pair_str].find(choice2)!=-1) ):
                    assignQ=-1 #dont assign
        if( assignQ==1 ): #assign pair
            pairings.loc[week_str,'pair'+str(Ncommitted+1)] = chosen_pair
            Ncommitted=Ncommitted+1
            remain_list.remove(choice2)
            #print("Ncommitted=",Ncommitted)
        else:
            remain_list.append(choice1) #place choice back
    print("week",ii+1," completed")
    print(pairings)
print(pairings)

week 1  completed
             pair2       pair1             pair3
week1  Laura,Aimee  Jenna,Joan  Katharine,Amelia
week4          NaN         NaN               NaN
week3          NaN         NaN               NaN
week2          NaN         NaN               NaN
week5          NaN         NaN               NaN
week 2  completed
             pair2            pair1             pair3
week1  Laura,Aimee       Jenna,Joan  Katharine,Amelia
week4          NaN              NaN               NaN
week3          NaN              NaN               NaN
week2   Aimee,Joan  Katharine,Laura      Amelia,Jenna
week5          NaN              NaN               NaN
week 3  completed
              pair2            pair1             pair3
week1   Laura,Aimee       Jenna,Joan  Katharine,Amelia
week4           NaN              NaN               NaN
week3  Amelia,Laura   Joan,Katharine       Jenna,Aimee
week2    Aimee,Joan  Katharine,Laura      Amelia,Jenna
week5           NaN              NaN               NaN
week 4  completed
                 pair2            pair1             pair3
week1      Laura,Aimee       Jenna,Joan  Katharine,Amelia
week4  Katharine,Jenna     Amelia,Aimee        Laura,Joan
week3     Amelia,Laura   Joan,Katharine       Jenna,Aimee
week2       Aimee,Joan  Katharine,Laura      Amelia,Jenna
week5              NaN              NaN               NaN
week 5  completed
                 pair2            pair1             pair3
week1      Laura,Aimee       Jenna,Joan  Katharine,Amelia
week4  Katharine,Jenna     Amelia,Aimee        Laura,Joan
week3     Amelia,Laura   Joan,Katharine       Jenna,Aimee
week2       Aimee,Joan  Katharine,Laura      Amelia,Jenna
week5  Katharine,Aimee      Amelia,Joan       Laura,Jenna
                 pair2            pair1             pair3
week1      Laura,Aimee       Jenna,Joan  Katharine,Amelia
week4  Katharine,Jenna     Amelia,Aimee        Laura,Joan
week3     Amelia,Laura   Joan,Katharine       Jenna,Aimee
week2       Aimee,Joan  Katharine,Laura      Amelia,Jenna
week5  Katharine,Aimee      Amelia,Joan       Laura,Jenna

In [46]:
for ii in range(1,6):
    print( pairings.loc['week'+str(ii)]['pair1'])

pair3       Laura,Aimee
pair1      Amelia,Irene
pair2    Joan,Katharine
Name: week1, dtype: object
pair3    Katharine,Laura
pair1        Joan,Amelia
pair2        Irene,Aimee
Name: week2, dtype: object
pair3       Amelia,Aimee
pair1         Joan,Laura
pair2    Katharine,Irene
Name: week3, dtype: object
pair3    Katharine,Amelia
pair1          Aimee,Joan
pair2         Laura,Irene
Name: week4, dtype: object
pair3         Joan,Irene
pair1    Aimee,Katharine
pair2       Laura,Amelia
Name: week5, dtype: object

In [48]:
pairings.sort_index()

                  pair3            pair1            pair2
week1       Laura,Aimee     Amelia,Irene   Joan,Katharine
week2   Katharine,Laura      Joan,Amelia      Irene,Aimee
week3      Amelia,Aimee       Joan,Laura  Katharine,Irene
week4  Katharine,Amelia       Aimee,Joan      Laura,Irene
week5        Joan,Irene  Aimee,Katharine     Laura,Amelia

In [57]:
test=pairings
print(test)

                  pair3            pair1            pair2
week5        Joan,Irene  Aimee,Katharine     Laura,Amelia
week3      Amelia,Aimee       Joan,Laura  Katharine,Irene
week1       Laura,Aimee     Amelia,Irene   Joan,Katharine
week4  Katharine,Amelia       Aimee,Joan      Laura,Irene
week2   Katharine,Laura      Joan,Amelia      Irene,Aimee

In [3]:
test=pairings.copy()
test = test[['pair1','pair2','pair3']]
print(test)
week1=test.loc['week2'].copy()
week2=test.loc['week1'].copy()
#print(test.sort_index())
test.loc['week1'] =week1
test.loc['week2'] =week2
print(test.sort_index())

                 pair1            pair2             pair3
week1       Jenna,Joan      Laura,Aimee  Katharine,Amelia
week4     Amelia,Aimee  Katharine,Jenna        Laura,Joan
week3   Joan,Katharine     Amelia,Laura       Jenna,Aimee
week2  Katharine,Laura       Aimee,Joan      Amelia,Jenna
week5      Amelia,Joan  Katharine,Aimee       Laura,Jenna
                 pair1            pair2             pair3
week1  Katharine,Laura       Aimee,Joan      Amelia,Jenna
week2       Jenna,Joan      Laura,Aimee  Katharine,Amelia
week3   Joan,Katharine     Amelia,Laura       Jenna,Aimee
week4     Amelia,Aimee  Katharine,Jenna        Laura,Joan
week5      Amelia,Joan  Katharine,Aimee       Laura,Jenna

In [64]:
print(pairings)

                  pair3            pair1            pair2
week5        Joan,Irene  Aimee,Katharine     Laura,Amelia
week3      Amelia,Aimee       Joan,Laura  Katharine,Irene
week1       Laura,Aimee     Amelia,Irene   Joan,Katharine
week4  Katharine,Amelia       Aimee,Joan      Laura,Irene
week2   Katharine,Laura      Joan,Amelia      Irene,Aimee